<%- include('../partials/header') %>

<h1 class="slogan">A Cake for every Occasion</h1>
<div class="container">
<% if (user) {%>
<table id="list">
  <thead>
    <tr class="order">
      <th>Flavor</th>
      <th>Occasion</th>
      <th>Style</th>
    </tr>
  </thead>
  <tbody>
    <% cakes.forEach(function(c) { %>
    <tr class="order">
      <td><%= c.flavor %></td>
      <td><%= c.occasion %></td>
      <td><%= c.style%></td>
      <td><a href="/cakes/<%= c._id %>">Details</a></td>
      <td>
        <form method="POST" action="/cakes/<%= c._id %>?_method=DELETE">
          <button type="submit">Delete Order</button>
        </form>
      </td>
    </tr>

    <% }); %>
  </tbody>
</table>
</div>
<% } %> <%- include('../partials/footer') %>
